.myInput{
    padding: 5px 0;
    font-size: 14px;
    border:1px solid gray;
    width: 85%;
    border-radius:2px;
    margin-right: 5px;
    margin-bottom: 5px;
}

input::placeholder{
    padding-right: 10px;
}

